$mainColor: #107BA9;

@import "bootstrap.min.css";
@import "scss/_functions.scss";
@import "scss/_variables.scss";
@import "scss/mixins/_breakpoints.scss";
@import "fontawesome-all.css";
@import "bootstrap-datepicker.css";
@import "daterangepicker.css";
@import "mmenu.css";

@for $j from 10 to 31 {
  .fs-#{$j} {
    font-size: $j+px;
  }
}

//sitting
a {
  text-decoration: none;
  @extend %transition3;

  &:hover {
    text-decoration: none;
  }
}


//Extend
%my-shadow {
  box-shadow: 0 0.125rem 0.35rem rgba(0, 0, 0, 0.5);
}

%scale-hover {
  img {
    @extend %transition5;
    transform: scale(1, 1);

    &:hover {
      transform: scale(1.15, 1.15);
    }
  }
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%my-btn {
  @extend %transition3;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0;
  border-radius: 5px;
  outline: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px 10px 20px;
  font-weight: 600;

  &:focus, &:visited {
    outline: none;
  }

  &:hover {
    color: #fff;
  }
}

%transition5 {
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

%transition3 {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

%line-hover {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: auto;
    bottom: 0;
    right: 0;
    height: 2px;
    display: block;
    width: 0;
    background-color: $mainColor;
    @extend %transition3
  }

  &:hover:before {
    width: 100%;
    left: 0;
    right: auto;
  }
}

%scroll-style {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $mainColor;
  }

}

//Classes
.line-hover {
  @extend %line-hover
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.my-shadow {
  @extend %my-shadow
}

/*btn-4 Start*/
.btn-4 {
  overflow: hidden;
  position: relative;
}

.btn-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}

.btn-4 > span {
  z-index: 20;
  position: relative;
}

.btn-4:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.mm-navbar {
  padding: 14px;

  img {
    max-width: 220px;
  }

  background-color: #fff;
}

.mm-panel {
  background-color: #fff;
}

.top-section {
  min-height: 300px;
  background: url(../images/top-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

header {
  position: relative;

  a.menu-btn {
    position: absolute;
    left: 15px;
    top: 20px;

    i {
      font-size: 29px;
      color: #fff;
    }
  }

  .header-list {
    li {
      position: relative;

      &:not(:last-child) {
        margin-right: 24px;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          height: 100%;
          background-color: rgba(#fff, $alpha: 0.6);
          right: -12px;
          top: 0;
        }
      }

      a {
        color: #fff;
        font-size: 20px;

        &:hover {
          color: #e4e4e4;
        }

        &.not-link {
          position: relative;

          &.active {
            &:after {
              position: absolute;
              right: 0px;
              top: 2px;
              content: '';
              display: block;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: #EF4351;
            }
          }
        }
      }
    }
  }
}

.mm-wrapper_opening a.menu-btn {
  opacity: 0;
  top: -100px;
}

.mm-navbar {
  border-bottom: 0;
}

.mm-navbar_sticky {
  display: none;
}

.mm-btn {
  width: 40px;
}

.mm-btn_close:before {
  right: 15px;
}

.mm-btn_close:after, .mm-btn_close:before {
  width: 7px;
  height: 7px;
}

.top-text-container {
  h3 {
    font-size: 45px;
    font-weight: 400;
  }

  .top-search-container {
    position: relative;

    input {
      padding-right: 31px;
      color: white;
      background-color: rgba(#fff, $alpha: 0.5);

      &::-webkit-input-placeholder {
        color: white;
      }

      &:-ms-input-placeholder {
        color: white;
      }

      &::placeholder {
        color: white;
      }
    }

    i {
      color: white;
      font-size: 17px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
}

.dashboard-link-container {
  display: block;
  max-width: 190px;
  margin: 0 auto 15px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  @extend %my-shadow;

  &:after {
    @extend %transition3;
    position: absolute;
    content: '';
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    bottom: 0;
    background: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(147, 147, 147, 0.1769082633) 69%);
  }

  .d-link-text {
    position: absolute;
    left: 10px;
    bottom: 20px;
    z-index: 3;
    transition: all ease-in-out 0.5s;
    opacity: 1;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
  }

}

@include media-breakpoint-up(lg) {
  .col-lg-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.content {
  background: #f5f5f5 !important;
}

.profile-media {
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  h5 {
    font-size: 16px;
  }
}

.profile-card {
  margin-top: 10px;
  .profile-card-item {
    &:not(:last-child){
      margin-bottom: 20px;
    }
    h4{
      font-size: 20px;
      margin-bottom: 5px;
    }
    .my-link {
      color: $mainColor;
      @extend %line-hover;
      padding-bottom: 3px;
    }
  }
}
.datepicker table tr td.today{
  background-color: $mainColor !important;
  color: #fff;
  background-image: none;
  position: relative;
  &:before{
    border-bottom-color: #ffffff;
    border-top-color: rgba(0,0,0,0.2);
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #ffffff;
    border-top-color: rgba(0,0,0,0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
  &:hover{
    background-image: none;
    background-color: $mainColor !important;
    color: #fff !important;
  }
}
.datepicker table tr td{
  width: 32px;
  height: 32px;
  font-size: 14px;
}
.mm-panel{
  @extend %scroll-style
}
.datepicker-inline{
  width: 100%;
  @extend %my-shadow;
}
footer{
  background-color: #fff;
  @extend %my-shadow;
  .list-inline-item:not(:last-child) {
    margin-right: 1rem;
  }
  .footer-list{
    li{
      position: relative;
      a{
        color: #000;
        padding-bottom: 3px;
      }
      &:not(:last-child){
        &:before{
          position: absolute;
          content: '';
          display: block;
          right: -0.5rem;
          height: 73%;
          width: 1px;
          top: 3px;
          background-color: $mainColor;
        }
      }
    }
  }
}
body{
  overflow-x: hidden !important;
}
.horizontal-tab{
  @include media-breakpoint-down(lg){
    margin-bottom: 30px;
    a{
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  a.nav-link{
    border-left: 5px solid transparent;
    display: block;
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    &:not(:last-child){
      margin-bottom: 10px;
    }
    @extend %my-shadow;
    &.active{
      background-color: #fff;
      border-left-color: $mainColor;
      color: #000;
    }
  }
}
.my-table{
  margin-bottom: 0;
  tr{
    text-align: center;
    th{
      background-color: $mainColor;
      color: #fff;
      border-top: 0;
      font-weight: 500;
      &:first-child{
        border-top-left-radius:5px ;
      }
      &:last-child{
        border-top-right-radius:5px ;
      }
      &:not(:last-child){
        border-right: 1px solid rgba(255,255,255,0.5);
      }
    }
    td{
      background-color: #fff;
    }
    &:last-child{
      td{
        &:first-child{
          border-bottom-left-radius:5px ;
        }
        &:last-child{
          border-bottom-right-radius:5px ;
        }
      }
    }
  }
}
.my-table-container{
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 3px;
  @extend %scroll-style;
}
.green-color{
  color: #18AA08;
}
.red-color{
  color: #F50810;
}
.yellow-color{
  color: #ffc107;
}
.main-color{
  color: $mainColor;
}
.my-card{
  background-color: #fff;
  border-radius: 5px;
}
.btn-primary{
  background-color: $mainColor;
}
.add-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color: $mainColor;
  color: #fff;
  font-size: 25px;
  text-align: center;
  &:hover{
    color: white;
    background-color: rgba($mainColor, 0.9);
  }
  @include media-breakpoint-down(sm){
    margin:0 auto;
  }
}
body.modal-open .mm-slideout{
  z-index: 1000;
}
.modal-backdrop{
  display: none;
}
.modal-open .modal{
  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: block;
    background-color: rgba(#000, 0.8);
    z-index: 101;
  }
  .modal-dialog{
    z-index: 1111;
  }
}
#newPermissionModal .modal-dialog-centered{
  margin-top: -30px;
}
.small-th-fs{
  th{
    font-size: 14px;
    padding: 10px 3px;
  }
  td{
    font-size: 14px;
  }
}